# Curso Udemy: Estatística para Ciência de Dados e Machine Learning

**https://www.udemy.com/course/estatistica-para-ciencia-de-dados-machine-learning/**

## Seleção de Dados (Tipos de Amostragens)

### População e Amostra:
- A amostra é sempre menor que a população
- A amostra é mais rápido para processar
- A amostra possuí menor tempo para analisar
- Os números que são obtidos da amostra são as estatísticas
- A amostra precisa ser randômica (aleatória, que possuem a mesma chance de serem escolhidas) e representativa (dos mais variados tipos - não podendo ser pessoas que tenham as mesmas características, então o correto é igualar a divisão, por exemplo, pessoas que vão num show e pessoas que vão num jogo de futebol - 50% de cada perfil)
- Esse conceito, deve ser também adotado para a localização em que eles estão (deve ter pessoas de todas as partes do setor do estádio ou arena do show, assim, colocando todos a terem a mesma chance/possibilidade de participar desta amostra).

#### Técnicas para Amostragem:
| **Probability Sampling** | **Non-Probability Sampling** |
|---|---|
| Simple Random | Convenience |
| Systematic | Quota |
| Stratified | Judgement |
| Cluster | Snowball |

### Amostragem Randômica (Simples)

In [3]:
import pandas as pd
import random
import numpy as np

In [4]:
dataset = pd.read_csv("census.csv")
dataset.shape

(32561, 15)

In [5]:
dataset.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
dataset.tail()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [7]:
df_amostra_aleatoria_simples=dataset.sample(n=100, random_state=1)

In [8]:
df_amostra_aleatoria_simples.shape

(100, 15)

In [9]:
df_amostra_aleatoria_simples.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
9646,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,66,United-States,<=50K
709,18,Private,208103,11th,7,Never-married,Other-service,Other-relative,White,Male,0,0,25,United-States,<=50K
7385,25,Private,102476,Bachelors,13,Never-married,Farming-fishing,Own-child,White,Male,27828,0,50,United-States,>50K
16671,33,Private,511517,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
21932,36,Private,292570,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K

In [10]:
def amostragem_aleatorica_simples(dataset, amostras):
    return dataset.sample(n = amostras, random_state=42)

In [11]:
df_amostra_aleatoria_simples = amostragem_aleatorica_simples(dataset, 100)
df_amostra_aleatoria_simples.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
14160,27,Private,160178,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,38,United-States,<=50K
27048,45,State-gov,50567,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
28868,29,Private,185908,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,55,United-States,>50K
5667,30,Private,190040,Bachelors,13,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
7827,29,Self-emp-not-inc,189346,Some-college,10,Divorced,Craft-repair,Not-in-family,White,Male,2202,0,50,United-States,<=50K

### Amostragem Sistemática

Exemplo: 
- Temos 28 casas e a amostra será de 5 casas. Assim sendo, dividimos 28/5 e obtemos o valor de 5,6 o qual arredondamos para 6;
- Após isso, selecionaremos a primeira casa, dentre as primeiras 6 que selecionamos. Após isso, contaremos até a sexta casa e selecionaremos ela, até finalizar as 5 necessárias para a amostra

In [12]:
dataset.shape

(32561, 15)

In [13]:
len(dataset)//100

325

In [14]:
random.seed(1)
random.randint(0,325)

68

In [15]:
np.arange(68, len(dataset), step=325)

array([   68,   393,   718,  1043,  1368,  1693,  2018,  2343,  2668,
        2993,  3318,  3643,  3968,  4293,  4618,  4943,  5268,  5593,
        5918,  6243,  6568,  6893,  7218,  7543,  7868,  8193,  8518,
        8843,  9168,  9493,  9818, 10143, 10468, 10793, 11118, 11443,
       11768, 12093, 12418, 12743, 13068, 13393, 13718, 14043, 14368,
       14693, 15018, 15343, 15668, 15993, 16318, 16643, 16968, 17293,
       17618, 17943, 18268, 18593, 18918, 19243, 19568, 19893, 20218,
       20543, 20868, 21193, 21518, 21843, 22168, 22493, 22818, 23143,
       23468, 23793, 24118, 24443, 24768, 25093, 25418, 25743, 26068,
       26393, 26718, 27043, 27368, 27693, 28018, 28343, 28668, 28993,
       29318, 29643, 29968, 30293, 30618, 30943, 31268, 31593, 31918,
       32243])

In [16]:
def amostragem_sistematica(dataset, amostras):
    intervalo = len(dataset) // amostras
    random.seed(1)
    inicio= random.randint(0,intervalo)
    indices = np.arange(inicio, len(dataset), step=intervalo)
    amostra_sistematica = dataset.iloc[indices]
    return amostra_sistematica

In [17]:
amostra_sistematica = amostragem_sistematica(dataset, 100)
amostra_sistematica.shape

(100, 15)

In [18]:
amostra_sistematica.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
68,49,Self-emp-inc,191681,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
393,34,State-gov,98101,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,45,?,>50K
718,22,Private,214399,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,15,United-States,<=50K
1043,44,Private,167005,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,60,United-States,>50K
1368,52,Private,152234,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,99999,0,40,Japan,>50K

### Amostragem por Grupos

Exemplo: 
- considerando o mesmo exemplo das 28 casas, queremos agora 4 Grupos (nesse caso definimos o grupo e não necessariamente as amostras que queremos - em geral o grupo deverá ter a mesma quantidade de elementos)
- quando tratamos com amostragem de grupos (cluster), não vamos selecionar os elementos dos grupos, mas definir a quantidade de grupos ou número total de amostras. A partir disso, os grupos vão se definir de forma sequencial, por exemplo: se quero 10 grupos em um total de 100 elementos, o 1º grupo será do 0 ao 9, o 2º grupo do 10 ao 19 e assim por diante. Por fim, de forma aleatória será escolhido um desses agrupamentos para ser utilizado como amostra estatística.

In [19]:
len(dataset)/10

3256.1

In [20]:
grupos = []
id_grupo = 0
contagem = 0
for _ in dataset.iterrows():
    grupos.append(id_grupo)
    contagem +=1
    if contagem > 3256:
        contagem =0
        id_grupo +=1

In [21]:
np.unique(grupos, return_counts=True)

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 array([3257, 3257, 3257, 3257, 3257, 3257, 3257, 3257, 3257, 3248],
       dtype=int64))

In [22]:
np.shape(grupos), dataset.shape

((32561,), (32561, 15))

In [23]:
dataset['grupo'] = grupos

In [24]:
dataset.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0

In [25]:
dataset.tail()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,9
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,9
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,9
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,9
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,9

In [31]:
random.randint(0, 9)

7

In [32]:
df_agrupamento = dataset[dataset['grupo'] == 7]
df_agrupamento.shape

(3257, 16)

In [33]:
df_agrupamento['grupo'].value_counts()

7    3257
Name: grupo, dtype: int64

In [34]:
def amostragem_agrupamento(dataset, numero_grupos):
    intervalo = len(dataset)/numero_grupos
    
    grupos = []
    id_grupo = 0
    contagem = 0
    for _ in dataset.iterrows():
        grupos.append(id_grupo)
        contagem +=1
        if contagem > intervalo:
            contagem = 0
            id_grupo += 1
            
    dataset['grupo'] = grupos
    random.seed(1)
    grupo_selecionado = random.randint(0, numero_grupos)
    return dataset[dataset['grupo'] == grupo_selecionado]

In [35]:
df_amostra_agrupamento = amostragem_agrupamento(dataset, 100)
df_amostra_agrupamento.shape, df_amostra_agrupamento['grupo'].value_counts()

((326, 16),
 17    326
 Name: grupo, dtype: int64)

In [36]:
df_amostra_agrupamento.count()

age               326
workclass         326
final-weight      326
education         326
education-num     326
marital-status    326
occupation        326
relationship      326
race              326
sex               326
capital-gain      326
capital-loos      326
hour-per-week     326
native-country    326
income            326
grupo             326
dtype: int64

### Amostragem Estratificada

**De forma básica, podemos dizer que trata-se de uma amostra dividida por uma variável**

Exemplo: Com uma população de 90 pessoas, temos 54 mulheres e 36 homens e queremos uma amostra de 10% ou seja 9 pessoas desta população. Abaixo descrevo em passos, como faremos para saber quantos elementos de cada grupo deve ser selecionados:

- Mulheres representam 60% da população e Homens representam 40% da população
- Para saber a quantidade de mulheres fazemos: 
    - 54 * 10 / 100 = 5,4 (arredondamos para 5)
- Para saber a quantidade de homens fazemos: 
    - 36 * 10 / 100 = 3,6 (arredondamos para 4)
    
Após identificar a quantidade de elementos dos grupos, utilizaremos outra técnica para seleção das amostras, como por exemplo, executar uma amostra randômica simples para cada grupo (mulheres e homens).

In [37]:
from sklearn.model_selection import StratifiedShuffleSplit

In [42]:
dataset['income'].value_counts(normalize=True).round(4)

 <=50K    0.7592
 >50K     0.2408
Name: income, dtype: float64

In [47]:
100 / len(dataset)

0.0030711587481956942

In [48]:
split = StratifiedShuffleSplit(test_size=0.0030711587481956942)
for x, y in split.split(dataset, dataset['income']):
    df_x = dataset.iloc[x]
    df_y = dataset.iloc[y]

In [49]:
df_x.shape

(32461, 16)

In [50]:
df_y.shape

(100, 16)

In [51]:
df_y.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
15900,22,Federal-gov,274103,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,10,United-States,<=50K,48
21271,50,Private,107265,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States,>50K,65
15059,21,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,<=50K,46
7005,26,State-gov,208122,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,15,United-States,<=50K,21
11078,48,Private,237525,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,65,United-States,>50K,33

In [52]:
df_y['income'].value_counts(normalize=True).round(4)

 <=50K    0.76
 >50K     0.24
Name: income, dtype: float64

In [83]:
def amostragem_estratificada(dataset, amostra, variavel):
    percentual = amostra / len(dataset)
    split = StratifiedShuffleSplit(test_size=percentual, random_state=1)
    for _, y in split.split(dataset, dataset[variavel]):        
        df_y = dataset.iloc[y]            
    return df_y

In [87]:
df_amostra_estratificada = amostragem_estratificada(dataset, 100, 'income')
df_amostra_estratificada['income'].value_counts(normalize=True).round(4)

 <=50K    0.76
 >50K     0.24
Name: income, dtype: float64

### Amostragem de Reservatório

**Data Stream** - dados contínuos chegando para análise (sistema web, e-commerce, etc), não sendo uma base estática. São dados em um conjunto de tamanho desconhecido que pode ser acessado somente uma vez, então, supondo que uma carga de 10 compras realizadas via site chega para análise, e só haverá uma chance de selecionar aquelas amostras, pois na sequência virão outras 10 e as outras não poderão mais ser analisadas (muito semelhante a uma esteira de fábrica, em que os produtos passam uma única vez em determinada etapa).

O algoritmo tem o objetivo de sortear um item do stream, porém, cada item deve possuir a mesma probabilidade de seleção, conforme os tipos de amostras anteriores que vimos até aqui.

In [80]:
def amostragem_reservatorio(dataset, amostras):
    stream = [] #cria uma lista vazia
    for i in range(len(dataset)): #na sequência cria um range de valores para preenchimento da lista
        stream.append(i) #o conjunto final fica [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
        
    i=0
    tamanho = len(dataset) #cria uma variável tamanho, com o tamanho total de itens do dataset
    
    reservatorio = [0] * amostras #cria um conjunto inicial de amostras, por exemplo, 3 amostras, o conjunto seria [0,0,0]
    for i in range(amostras): #cria um range com o tamanho da amostra para preenchimento dos valores dessa lista
        reservatorio[i] = stream[i] #há um cruzamento das informações, com base nas listas RESERVATORIO e STREAM
        #Por exemplo, no item 0 a posição 0 da lista reservatório receberá o valor que consta na posição 0 da lista stream
    
    while i < tamanho: #loop para verificar se o i é menor que o tamanho do dataset
        j = random.randrange(i + 1) #no mesmo sentido de cruzamento das informações, o J será um valor randômico entre o valor de i + 1
        if j < amostras: #a partir do valor randômico gerado, há um if para verificar se esse valor é menor que a amostra
            reservatorio[j] = stream[i] #há novamente um cruzamento das informações, com base nas listas RESERVATORIO e STREAM, no entanto, agora os parâmetros são J e I        
        i += 1 #há um incremento no valor de i
    
    return dataset.iloc[reservatorio] #quando o looping encerrar com o tamanho das amostras, a função retorna o dataset, filtrando o índice/index.
                                      #o filtro é feito com o método iloc e como parâmetro a lista 'reservatorio', para pegar somente as linhas da amostra realizada

In [81]:
df_amostragem_reservatorio = amostragem_reservatorio(dataset, 100)
df_amostragem_reservatorio.shape

(100, 16)

In [82]:
df_amostragem_reservatorio.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
12047,37,Private,171090,9th,5,Married-civ-spouse,Machine-op-inspct,Wife,Black,Female,0,0,48,United-States,<=50K,36
2838,28,Private,270366,10th,6,Divorced,Sales,Not-in-family,White,Female,0,0,40,United-States,<=50K,8
30187,33,Private,126223,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Female,0,0,40,United-States,<=50K,92
14936,21,Private,186648,10th,6,Separated,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K,45
26765,50,Local-gov,100480,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K,82

### Comparativo das amostras

- Lembrando que aqui, farei apenas uma demonstração de amostras por tipo (usando um random_state apenas), mas o correto seria testar mais vezes (sugiro ao menos 30 vezes) para se obter testagem suficiente de perfomance, ainda mais pelo tamanho do dataset que estamos trabalhando.
- Usando a variável AGE a amostra aleatória simples demonstrou ser a que mais se aproximou da base de dados original

In [89]:
dataset['age'].mean()

38.58164675532078

In [100]:
# Simples
df_amostra_aleatoria_simples['age'].mean()

38.32

In [101]:
# Sistemática
amostra_sistematica['age'].mean()

37.57

In [102]:
# Grupos
df_amostra_agrupamento['age'].mean()

39.23312883435583

In [103]:
# Estratificada
df_y['age'].mean()

36.81

In [104]:
# Reservatório
df_amostragem_reservatorio['age'].mean()

35.95